.list-group-item {
    border: 0 !important;
    margin: 0px;
    padding-top: 20px;
}

.list-group {
    border: 0 !important;
    margin: 0px;
    padding-top: 20px;
    background-color: transparent;
}

.h3-ladder {
    margin-left: 15px;
    size: 16px
}


.h1-ladder {
    margin-left: 15px;
    size: 24px
}

.p-ladder-margin{
    margin-left: 15px;
}

.capitalize {
    text-transform: capitalize;
}


.rankText{
    background-color: white;
}

.profileContainer{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}