.linkText{ 
    color: black ;
    padding-left: 30px;
    padding-top: 20px;
 }

.navbar {
    min-height: 90px;
  }
  
.h5 {
    font-size: 3px;
    color: grey;
}

.h4 {
    font-size: 5px;
    color: grey;
}

.h3 {
    font-size: 7px;
    color: grey;
}

.sidebar {
    background-color: black;
    height: 800px;
    width: 300px; 
}